@import "custom_variables";
@import "bootstrap";

// Custom UI elements
.icon-feature {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;

  border-radius: 50%;
  border: 1px solid $primary;
  background-color: white;

  color: $primary;
  font-size: 20px;

  @include media-breakpoint-up(md) {
    width: 60px;
    height: 60px;

    font-size: 24px;
  }
}
